@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@font-face {
    font-family: 'Libre Baskerville';
    src: url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap') format('woff2');
}
/* Общие стили */
body {
    margin:  0;
}
.main {
    position: relative;
    width :100%;
    justify-content: center;
    align-items: center;
    background-image: url('..//Assets/background.svg');
    background-size: cover;
    background-position: center;
    min-height:  100vh; /* Минимальная высота блока равна высоте окна просмотра */
}


/* Стили для логотипа */
.logo-container {
    margin-left:140px;
    margin-top: 40px;
    height:  66px; /* Высота логотипа */
    Width: 259px;
    float: right;
}
/* Стили для навигационной панели */
.navbar {
    padding:  10px  20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-menu {
    list-style-type: none;
    margin:  0;
    padding:  0;
    display: flex;
}

.navbar-menu li {
    font-family: 'Poppins', sans-serif;
    font-weight:  400;
    font-size:  20px;
    line-height:  30px;
    padding:  40px;
    height:  0px;
    margin-left:  20px;
}

.navbar-menu a {
    font-family: Poppins;
    width: 150px;
    text-decoration: none;
    color: #333;
}
.navbar-menu li.teachers {
    margin-right:  200px; /* Добавляем отступ справа от элемента "Teachers" */
}

.auth-buttons {
    display: flex;
    gap:   10px;
    background-color: none;
    margin-top:   20px; /* Adjust this value to position the buttons lower */
    margin-left: -10px; /* Adjust this value to position the buttons to the left */
}


.login, .signup {
    border: none;
    padding:   5px   10px;
    cursor: pointer;
    font-size:  20px;
    font-weight:  400;
    line-height:  30px;
    letter-spacing:  0em;
    text-align: left;
    color: #070707;
    background-color: transparent; /* Set background to transparent */
}

/* Стили для welcome текста */
.welcome {
    margin-top: 10%;
    display: flex; /* Используем Flexbox для вертикального выравнивания */
    flex-direction: column; /* Элементы располагаются в колонку */
    justify-content: center; /* Центрирование элементов по вертикали */
    align-items: center; /* Центрирование элементов по горизонтали */
    color: black;
    text-align: center;
    width:  100%; /* Занимает всю ширину родителя */
    height:  100%; /* Занимает всю высоту родителя */
    font-family: Libre Baskerville;
    font-size: 22px;
    font-style: italic;
    font-weight: 400;
    line-height: 55px;
    letter-spacing: 0em;
    text-align: center;

}


.welcome h1 {
   
    font-family: 'Libre Baskerville', serif;
    font-size:  2em;
    margin:  0;
}

/* Стили для кнопки Get Started */
.get-started {
    display: block; /* Блочное отображение */
    margin:   20px auto; /* Отступы сверху и снизу, автоматические слева и справа */
    padding:   10px  20px; /* Внутренние отступы */
    background-color: #1C3064; /* Синий фон */
    color: white; /* Белый текст */
    border: none; /* Без границы */
    border-radius:  20px; /* Скругление углов */
    font-size:  1.2em; /* Размер шрифта */
    cursor: pointer; /* Изменение курсора при наведении */
    transition: background-color  0.3s ease; /* Плавный переход цвета фона */
}

.get-started:hover {
    background-color: #0056b3; /* Темнее синее при наведении */
}

/* Стили для блока выбора языка */
.language-selection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top:  100px; /* Отступ сверху для разделения блоков */
}

.language-selection h2 {
    font-size:  2em;
    margin-bottom:  20px;
    padding: 10px;
}

.language-list {
    list-style-type: none;
    padding:   0;
    margin:   20px;
    display: flex;
    justify-content: space-around; /* Распределение элементов равномерно по горизонтали */
    width:  100%; /* Ширина списка равна ширине родительского блока */
}
.language-list li span.flag {
    margin-right:   10px; /* Добавляем отступ справа от флага */
    margin-top: 17px;
}
.language-list li {
    margin:   0  20px; /* Отступы слева и справа от каждого элемента списка */
    font-size:   1.2em;
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.flag {
    display: inline-block;
    width:  40px;
    height:  40px;
    margin-left:  5px;
    background-repeat: no-repeat;
    background-size: contain;
    top: 1005px;
    left: 700px;
    padding: 20px;

}

.flag.german {
    background-image: url('..//Assets/German.svg');
}

.flag.english {
    background-image: url('../Assets//english.svg');
}

.flag.russian {
    background-image: url('../Assets/russian.svg');
}

.flag.polish {
    background-image: url('..//Assets/polish.svg');
}


.mini-blocks-container {
    display: flex;
    justify-content: center; /* Выравнивание блоков по центру */
    align-items: center;
    width:  100%; /* Занимает всю ширину родительского элемента */
    margin-top:   50px; /* Отступ сверху для разделения блоков */
}

/* Стили для миниблоков */
.mini-block {
    width:   400px;
    height:   450px;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:   20px;
    box-shadow:   0   4px   6px rgba(0,   0,   0,   0.1); /* Добавляем тень для визуального отделения */
    margin-right:   50px; /* Уменьшаем отступ справа между блоками */
}
/* Стили для логотипа в миниблоках */
.mini-block-logo {
    width:   60px;
    height:   60px;
}

/* Стили для заголовка в миниблоках */
.mini-block-title {
    font-family: 'Poppins', sans-serif;
    font-weight:   500;
    font-size:   26px;
    line-height:   39px;
    text-align: center;
    margin-bottom:   20px;
}

/* Стили для основного текста в миниблоках */
.mini-block-text {
    font-family: 'Poppins', sans-serif;
    font-weight:   400;
    font-size:   24px;
    line-height:   36px;
    text-align: center;
}

.Language-Business-Channel{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top:  100px; /* Отступ сверху для разделения блоков */
    }
    
.Language-Business-Channel h2 {
        font-size:  2em;
        margin-bottom:  20px;
        padding: 10px;
    }

    .footer {
        background-color: #1C3064;
        width:   100%;
        height:   240px;
        display: flex;
        flex-direction: column; /* Вертикальное расположение элементов */
        align-items: center; /* Горизонтальное выравнивание элементов */
        padding: 0px; /* Уменьшенные горизонтальные отступы */
        margin-top:   50px; /* Отступ сверху для разделения блоков */
        position: relative; /* Добавляем относительное позиционирование для футера */
    }
    
    .footer-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width:   100%;
        max-width:   1440px; /* Устанавливаем максимальную ширину для футера */
    }
    
    .footer-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .footer-text {
        font-family: 'Poppins', sans-serif;
        font-weight:   400;
        font-size:   20px;
        line-height:   30px;
        color: #FFFFFF;
        text-align: center;
    }
    
/* Стили для мобильных устройств */
@media screen and (max-width:  1024px) {
    .navbar {
        flex-direction: column;
        justify-content: center;
    }

    .navbar-menu {
        flex-direction:row;
        flex-wrap: wrap;
        justify-content: center;
        
    }

    .navbar-menu li {
        padding:  20px; /* Уменьшаем внутренние отступы */
        margin-bottom:  5px; /* Уменьшаем нижний отступ */
        flex-direction:row;
    }

    .auth-buttons button {
        padding:  10px  15px; /* Увеличиваем внутренние отступы */
        font-size:  16px; /* Уменьшаем размер шрифта */
        background-color: #f0f0f0; /* Изменяем цвет фона */
        border:  1px solid #ccc; /* Добавляем границу */
    }

    .get-started {
        width: 100%;
        margin:  20px  0;
        align-items: center;
    }

    .language-list li {
        
        margin-bottom:  10px;
    }

    .mini-blocks-container {
        flex-direction: column;
    }
}

@media screen and (max-width:  768px) {
    .mini-blocks-container {
        display: flex;
        flex-direction: column;
        gap:  20px;
    }
    .mini-block {
        width:  100%; /* Делаем каждый мини-блок занимать всю ширину контейнера */
        margin-bottom:  40px; /* Добавляем отступ снизу для разделения блоков */
    }
    .navbar-menu {
        flex-direction: row;
    }
    .language-list {
        flex-direction: row; /* Располагаем элементы списка в колонку */
        align-items: stretch; /* Расширяем элементы, чтобы они занимали всю ширину */
    }
    
    .language-list li {
        font-size:   1.2em; /* Уменьшаем размер шрифта текста */
        margin-bottom:   10px; /* Уменьшаем отступ снизу */
    }
    
    .flag {
        width:   40px; /* Уменьшаем ширину флага */
        height:   40px; /* Уменьшаем высоту флага */
        margin-right:   5px; /* Уменьшаем отступ справа от флага */
    }
    .logo-container {
        justify-content: center;
    }
}


