<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Fill in the Gap</title>
    <link rel="stylesheet" href="gap.css" />
  </head>
  <body>
    <div class="card-container">
      <div class="container">
        <h1>Fill in the Gap</h1>
        <div id="germanSentenceContainer"></div>
        <div id="englishSentenceContainer"></div>
        <p id="score">0/204</p>
        <form id="answerForm">
          <button id="submit-translation">Submit</button>
        </form>
      </div>
    </div>
    <script src="gap.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </body>
</html>
