@import url(https://fonts.googleapis.com/css?family=Lato:300);

/* Variables */
:root {
  --light: #CDF6FA;

}
* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  color: var(--light);
  font-family: "Lato", sans-serif;
  background-image: url(..//Assets/background.svg);
}

/* Wrapper */
.wrap {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

/* Feedback styles */
.feedback h1 {
  text-align: center;
}

/* Row styles */
.row {
  position: relative;
  margin-top: 25px;
}

.row input,
.row textarea {
  width: 25em;
  padding: 10px;
  margin: 0;
  border: 1px solid var(--light);
  border-radius: 3px;
  font-family: inherit;
  color: inherit;
  font-size: 15px;
  background: linear-gradient(120deg, var(--bg_2), var(--bg_1));
}

/* Button styles */
.button {
  text-align: center;
}

.button button {
  width: 25em;
  padding: 10px;
  margin: 0;
  border: 1px solid var(--light);
  border-radius: 3px;
  font-family: inherit;
  color: inherit;
  font-size: 15px;
  background: linear-gradient(120deg, var(--bg_2), var(--bg_1));
  transition: all 0.4s linear;
  -moz-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}

.button button:hover {
  background: var(--light);
  color: var(--bg_2);
}

/* Label styles */
.label {
  position: absolute;
  top: 11px;
  left: 11px;
  font-size: 14px;
  letter-spacing: 1px;
  color: #888888;
  cursor: text;
  transition: all 0.20s ease-in-out 0s;
}

/* Input focus and valid styles */
.row_input:focus {
  box-shadow: inset 0 0 5px var(--light);
}

.row_input:focus ~ .label,
.row_input:valid ~ .label {
  top: -18px;
  left: 0;
  font-size: 16px;
  color: var(--light);
}

.row_input:focus ~ .label:first-letter,
.row_input:valid ~ .label:first-letter {
  text-transform: uppercase;
}
h1,
p {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

.app {
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around; /* Optional: adds space between emojis */
    align-items: center;
  }

.item {
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}
.radio {
  display: none;
}
.radio ~ span {
  font-size: 3rem;
  filter: grayscale(100);
  cursor: pointer;
  transition: 0.3s;
}

.radio:checked ~ span {
  filter: grayscale(0);
  font-size: 4rem;
}